<!doctype html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
  <div class="container pt-5">
    <div class="card">
      <div class="card-header">You are logged in! <a href="/logout">Logout</a></div>
      <div class="card-body">
      </div>
    </div>
  </div>
</body>
</html>
